<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin Dashboard</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/public/css/styles.css') }}">
    <!-- <link rel="stylesheet" href="../static/styles/public/css/styles.css"> -->

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>

    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/6ab52acb52.js"></script>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Pacifico|Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <!-- Upper Navigation Bar -->
        <nav class="navbar navbar-expand-lg">
            <!-- Navigation Brand/Logo -->
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Gater Barter</a>
            </div>

            <!-- Navigation Links Hamburger Menu Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
                aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-btn"><i class="fas fa-bars"></i></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <!-- LHS Navigation Links -->
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link navbar-link" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navbar-link" href="/">FAQ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navbar-link" href="/">Sell</a>
                    </li>
                </ul>

                <!-- RHS Navigation Links -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link navbar-link" href="/login"><i class="fas fa-sign-in-alt"></i> Login</a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Lower Navigation Bar -->
        <nav>
            <div class="search-container">
                <form action="/results" method="POST">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="dropdown col-lg-2">
                                <!-- Filter button -->
                                <button class="dropdown-toggle category-btn" type="button"
                                    data-toggle="dropdown">Category</button>

                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" href="/categories/Electronic"><i class="fas fa-laptop">
                                                Electronic</i></a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="/categories/Furniture"><i
                                                class="fas fa-couch"></i> Furniture</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="/categories/Other"><i
                                                class="fas fa-question-circle"> Other</i></a>
                                    </li>
                                </ul>
                            </div>

                            <div class="col-lg-9">
                                <!-- Search bar -->
                                <input type="text" placeholder="Search for books, electronics, furnitures..."
                                    name="text">
                            </div>

                            <div class="col-lg-1">
                                <!-- Search button -->
                                <button class="search-btn" type="submit"><i class="fas fa-search"></i></button>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </nav>
    </header>

    <!-- Main content -->
    <main>
        <div class="edu-purpose-label">
            "SFSU Software Engineering Project CSC 648-848, Fall 2019. For Demonstration Only”
            <br>Admin Dashboard
        </div>

        <ul class="nav nav-pills nav-justified nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="pill" href="#waitlist">Waitlist</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="pill" href="#approved">Approved</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="pill" href="#rejected">Rejected</a>
            </li>
        </ul>

        <div class="tab-content">
            <!-- Waitlist Tab -->
            <div id="waitlist" class="tab-pane container active tab-content">
                <!-- Results returned -->
                <div class="feedback">
                    {{feedback}}
                </div>

                <!-- Load items -->
                <div class="container-fluid content-row">
                    <div class="row">
                        {% for product in products %}
                        {% set imageRedirect = product.i_id %}
                        {% set imageSrc = product.ii_url %}
                        {% set itemDesc = product.i_desc %}
                        {% set itemTitle = product.i_title %}
                        {% set itemCategory = product.c_name %}
                        {% set itemPrice = product.i_price %}
                        {% set isTradable = product.i_is_tradable %}
                        {% set userId = product.i_u_id %}
                        <div class="col-lg-4 col-md-6 col-sm-12 product-listing">
                            <div class="card mb-3 h-100">
                                <img src="{{imageSrc}}" class="card-img-top h-50" alt="{{imageSrc}}">
                                <div class="card-body d-flex flex-column">
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <h5 class="card-title item-label">{{itemTitle}}</h5>
                                            <h6 class="card-subtitle user-label">
                                                @username
                                                <a class="fa-envelope"><i class="fas fa-envelope"></i></a>
                                                <a class="fa-ban"><i class="fas fa-ban"></i></a>
                                            </h6>
                                        </div>

                                        <div class="col">
                                            <h5 class="card-title price-label">${{itemPrice}}</h5>
                                            <div class="card-subtitle tradable-label">
                                                Tradable
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card-text">
                                        Category: {{itemCategory}}<br>
                                        {{itemDesc}}
                                    </div>

                                    <a class="btn btn-success btn-block" onclick="">Approve</a>

                                    <a class="btn btn-warning btn-block"
                                        onclick="window.open('/products/{{imageRedirect}}')">More Details</a>

                                    <a class="btn btn-danger btn-block" onclick="">Reject</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <!-- Load all item listings -->
                    </div>
                </div>

                <!-- Show more items -->
                <button class="show-more-btn">
                    Show More
                </button>
            </div>
            <!-- Approved Tab -->
            <div id="approved" class="tab-pane container fade tab-content">
                <!-- Results returned -->
                <div class="feedback">
                    {{feedback}}
                </div>

                <!-- Load items -->
                <div class="container-fluid content-row">
                    <div class="row">
                        {% for product in products %}
                        {% set imageRedirect = product.i_id %}
                        {% set imageSrc = product.ii_url %}
                        {% set itemDesc = product.i_desc %}
                        {% set itemTitle = product.i_title %}
                        {% set itemCategory = product.c_name %}
                        {% set itemPrice = product.i_price %}
                        {% set isTradable = product.i_is_tradable %}
                        {% set userId = product.i_u_id %}
                        <div class="col-lg-4 col-md-6 col-sm-12 product-listing">
                            <div class="card mb-3 h-100">
                                <img src="{{imageSrc}}" class="card-img-top h-50" alt="{{imageSrc}}">
                                <div class="card-body d-flex flex-column">
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <h5 class="card-title item-label">{{itemTitle}}</h5>
                                            <h6 class="card-subtitle user-label">
                                                @username
                                                <a class="fa-envelope"><i class="fas fa-envelope"></i></a>
                                                <a class="fa-ban"><i class="fas fa-ban"></i></a>
                                            </h6>
                                        </div>

                                        <div class="col">
                                            <h5 class="card-title price-label">${{itemPrice}}</h5>
                                            <div class="card-subtitle tradable-label">
                                                Tradable
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card-text">
                                        Category: {{itemCategory}}<br>
                                        {{itemDesc}}
                                    </div>

                                    <a class="btn btn-danger btn-block" onclick="">Reject</a>

                                    <a class="btn btn-warning btn-block"
                                        onclick="window.open('/products/{{imageRedirect}}')">More Details</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <!-- Load all item listings -->
                    </div>
                </div>

                <!-- Show more items -->
                <button class="show-more-btn">
                    Show More
                </button>
            </div>
            <!-- Rejected Tab -->
            <div id="rejected" class="tab-pane container fade tab-content">
                <!-- Results returned -->
                <div class="feedback">
                    {{feedback}}
                </div>

                <!-- Load items -->
                <div class="container-fluid content-row">
                    <div class="row">
                        {% for product in products %}
                        {% set imageRedirect = product.i_id %}
                        {% set imageSrc = product.ii_url %}
                        {% set itemDesc = product.i_desc %}
                        {% set itemTitle = product.i_title %}
                        {% set itemCategory = product.c_name %}
                        {% set itemPrice = product.i_price %}
                        {% set isTradable = product.i_is_tradable %}
                        {% set userId = product.i_u_id %}
                        <div class="col-lg-4 col-md-6 col-sm-12 product-listing">
                            <div class="card mb-3 h-100">
                                <img src="{{imageSrc}}" class="card-img-top h-50" alt="{{imageSrc}}">
                                <div class="card-body d-flex flex-column">
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <h5 class="card-title item-label">{{itemTitle}}</h5>
                                            <h6 class="card-subtitle user-label">
                                                @username
                                                <a class="fa-envelope"><i class="fas fa-envelope"></i></a>
                                                <a class="fa-ban"><i class="fas fa-ban"></i></a>
                                            </h6>
                                        </div>

                                        <div class="col">
                                            <h5 class="card-title price-label">${{itemPrice}}</h5>
                                            <div class="card-subtitle tradable-label">
                                                Tradable
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card-text">
                                        Category: {{itemCategory}}<br>
                                        {{itemDesc}}
                                    </div>

                                    <a class="btn btn-success btn-block" onclick="">Approve</a>

                                    <a class="btn btn-warning btn-block"
                                        onclick="window.open('/products/{{imageRedirect}}')">More Details</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <!-- Load all item listings -->
                    </div>
                </div>

                <!-- Show more items -->
                <button class="show-more-btn">
                    Show More
                </button>
            </div>
        </div>

    </main>

    <!-- Footer -->
    <footer>
        <h6>Copyright © 2019 Gator Barter</h6>
    </footer>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Custom JS -->
    <script type="text/javascript" src="{{ url_for('static',filename='index.js') }}"></script>
</body>

</html>