<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-62806475-2"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-62806475-2");
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Gator Barter</title>

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <!-- Custom CSS -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='styles/public/css/styles.css') }}"
    />

    <!-- Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>

    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/6ab52acb52.js"></script>

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Pacifico|Roboto&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <header>
      <div class="edu-label">
        "SFSU Software Engineering Project CSC 648-848, Fall 2019. For
        Demonstration Only"
      </div>

      <!-- Upper Navigation Bar -->
      <nav class="navbar navbar-expand-lg">
        <!-- Navigation Brand/Logo -->
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Gater Barter</a>
        </div>

        <!-- Navigation Links Hamburger Menu Button -->
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarTogglerDemo01"
          aria-controls="navbarTogglerDemo01"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-btn"><i class="fas fa-bars"></i></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <!-- LHS Navigation Links -->
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link navbar-link" href="/item-posting">Sell</a>
            </li>
            <li class="nav-item">
              <a class="nav-link navbar-link" href="/about">About</a>
            </li>
            {% if sessionUser|length > 0 and sessionUser['u_is_admin'] > 0 %}
            <li class="nav-item">
              <a
                class="nav-link navbar-link"
                href="/admin/{{sessionUser['u_id']}}"
                >Admin</a
              >
            </li>
            {% endif %}
          </ul>

          <!-- RHS Navigation Links -->
          <ul class="navbar-nav">
            {% if sessionUser|length == 0 %}
            <li class="nav-item">
              <a class="nav-link navbar-link" href="/login"
                ><i class="fas fa-sign-in-alt"></i> Login</a
              >
            </li>
            {% elif sessionUser|length > 0 %}
            <li class="nav-item">
              <div class="current-user">
                {{sessionUser['u_fname']}} {{sessionUser['u_lname']}}
              </div>
            </li>
            <li class="nav-item">
              <!-- Profile Dropdown -->
              <div class="dropdown">
                <button
                  class="profile-dropdown"
                  type="button"
                  data-toggle="dropdown"
                >
                  <i class="fas fa-user-circle"></i>
                </button>

                <ul class="dropdown-menu dropdown-menu-right">
                  <li>
                    <a class="dropdown-item" href="/user-dashboard"
                      ><i class="fas fa-user"> User Dashboard</i></a
                    >
                  </li>
                  {% if sessionUser|length > 0 and sessionUser['u_is_admin'] > 0
                  %}
                  <li>
                    <a
                      class="dropdown-item"
                      href="/admin/{{sessionUser['u_id']}}"
                      ><i class="fas fa-crown"> Admin Dashboard</i></a
                    >
                  </li>
                  {% endif %}
                  <li>
                    <a class="dropdown-item" href="/"
                      ><i class="fas fa-cog"> Settings</i></a
                    >
                  </li>
                </ul>
              </div>
            </li>
            <div class="dropdown-divider"></div>
            <li class="nav-item">
              <a class="nav-link navbar-link" href="/logout"
                ><i class="fas fa-sign-in-alt"></i> Logout</a
              >
            </li>
            {% endif %}
          </ul>
        </div>
      </nav>

      <!-- Lower Navigation Bar -->
      <nav>
        <div class="search-container">
          <form action="/results" method="POST">
            <div class="container-fluid">
              <div class="row">
                <!--<<<<<<< frontend-m4
                            <form action="">
                                <!-- Category Select
                                <select class="yellow-select category-select-padding">
                                    <optgroup label="Category">
                                        <option value="none" selected disabled hidden>
                                            Category
                                        </option>
                                        <option value="Electronic">Electronic</option>
                                        <option value="Furniture">Furniture</option>
                                        <option value="Other">Other</option>
                                    </optgroup>
                                </select>
                                <!-- Search bar
                                <input class="search-bar" type="text"
                                    placeholder="Search for books, electronics, furnitures..." name="text">
                                <!-- Search button
                                <button class="search-btn" type="submit"><i class="fas fa-search"></i></button></form>
======= -->

                <form action="">
                  <select
                    name="category"
                    class="yellow-select category-select-padding"
                  >
                    {%if categoryName == 'All' %}
                    <option selected value="All">{{categoryName}}</option>
                    {% else %}
                    <option value="All">All</option>
                    {% endif %} {% for cat in categories %} {% if cat ==
                    categoryName%}
                    <option selected value="{{ cat }}">{{cat}}</option>
                    {% else %}
                    <option value="{{ cat }}">{{cat}}</option>
                    {%endif%} {% endfor %}

                    <!-- <option value=>select category</option>
                                    <option value="Electronic">Electronic</option>
                                    <option value="Furniture">Furniture</option>
                                    <option value="Other">Other</option> -->
                  </select>
                  <!-- Search bar -->
                  <input
                    class="search-bar"
                    type="text"
                    placeholder="Search for books, electronics, furnitures..."
                    name="text"
                    value="{{currentSearch}}"
                    maxlength="40"
                  />
                  <!-- Search button -->
                  <button class="search-btn" type="submit">
                    <i class="fas fa-search"></i>
                  </button>
                </form>
              </div>
            </div>
          </form>
        </div>
      </nav>
    </header>

    {% block content %} {% endblock %}

    <!-- Footer -->
    <footer>
      <h6>Copyright © 2019 Gator Barter</h6>
    </footer>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Custom JS -->
    <script
      type="text/javascript"
      src="{{ url_for('static',filename='index.js') }}"
    ></script>
  </body>
</html>
