{% extends "base.html" %}

{% block content %}

<!-- Main content -->
<main>
    <div>
        <div class="dropdown-fb-col">
            <div class="feedback">
                <ul class="list-unstyled">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %} 
                {% endif %}
                {% endwith %}
                {% for feed in feedback %}
                    {% if feed|length > 0 %}
                     <li>{{feed}}</li>
                    {% endif %}
                {% endfor %}
            </ul>
            </div>

          
             <span class="sort-dropdown">
                <div class="dropdown">
                    <button class="dropdown-toggle" type="button" data-toggle="dropdown">{{sortOption}}</button>

                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="/apply_filter/alpha_desc"><i class="fas fa-sort-alpha-down"> Alphabetical: A to
                                    Z</i></a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/apply_filter/alpha_asc"><i class="fas fa-sort-alpha-up"> Alphabetical: Z to
                                    A</i></a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/apply_filter/price_asc"><i class="fas fa-money-bill-alt"> Price: Low to
                                    High</i></a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/apply_filter/price_desc"><i class="fas fa-money-bill"> Price: High to Low</i></a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/apply_filter/date_asc"><i class="fas fa-history"> Date: Oldest</i></a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/apply_filter/date_desc"><i class="fas fa-clock"> Date: Newest</i></a>
                        </li>
                    </ul>
                </div>
            </span>

            <!-- Category Select -->
           <!-- <div class="dr">
                <select class="purple-select filter-select-padding">
                    <optgroup label="Sort By">
                        <option value="none" selected disabled hidden>
                            Sort By
                        </option>
                        <option value="sort-az">A to Z</option>
                        <option value="sort-za">Z to A</option>
                        <option value="sort-low-high">Low to High</option>
                        <option value="sort-high-low">High to Low</option>
                        <option value="sort-oldest">Oldest</option>
                        <option value="sort-newest">Newest</option>
                    </optgroup>
                </select>
            </div> -->
        </div>

        <div class="container-fluid content-row">
            <div class="row">
                {% for product in products %}
                {% set imageRedirect = product['i_id'] %}
                {% set imageSrc = product['ii_url'] %}
                {% set itemDesc = product['i_desc'] %}
                {% set itemTitle = product['i_title'] %}
                {% set itemCategory = product['c_name'] %}
                {% set itemPrice = product['i_price'] %}
                {% set isTradable = product['i_is_tradable'] %}
                {% set userId = product['i_u_id'] %}
                <div class="col-lg-4 col-md-6 col-sm-12 product-listing">
                    <div class="card mb-3 h-100">
                        <a href="/products/{{imageRedirect}}">
                            <img src="{{imageSrc}}" class="card-img-top" alt="{{imageSrc}}">
                        </a>
                        <div class="card-body d-flex flex-column">
                            <div class="row">
                                <div class="col-sm-8">
                                    <h5 class="card-title item-label">{{itemTitle}}</h5>
                                    <h6 class="card-subtitle user-label">@username</h6>
                                </div>

                                <div class="col">
                                    <h5 class="card-title price-label">${{itemPrice}}</h5>
                                    <div class="card-subtitle tradable-label">
                                        Tradable
                                    </div>
                                </div>
                            </div>

                            <div class="card-text">
                                Category: {{itemCategory}}<br>
                                {{itemDesc}}
                            </div>

                            <a class="btn btn-warning btn-block mt-auto"
                                onclick="window.open('/products/{{imageRedirect}}')">More Details</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <!-- Load all item listings -->
            </div>
        </div>

        <!-- Show more items -->
        <button class="show-more-btn">
            Show More
        </button>
</main>

{% endblock %}