<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Post an item for sale</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/public/css/styles.css') }}">

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>

    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/6ab52acb52.js"></script>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Pacifico|Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <button onclick="goBack()" class="yellow-select"><i class="fas fa-backward"></i> Go Back</button>

    <form id="item-posting-page" class="col-sm-10" action="/item-posting" method="post" name="item_form"
        onsubmit="return validateForm()" enctype="multipart/form-data">

        <div class="page-title">
            <h1>Make an Item Posting</h1>
        </div>

        <div class="form-group">
            <label for="item-name">Item Title <span class="required-field">*</span></label>
            <input type="text" class="form-control" id="item-name" name="item_title" placeholder="Item name" required>
        </div>

        <div class="form-group">
            <label for="item-category">Item Category <span class="required-field">*</span></label>
            <select class="yellow-select w-100" id="item-category" name="category" required>
                <optgroup label="Category">
                    <option value="none" selected disabled hidden>
                        Category
                    </option>
                    {% for category in categories %}
                    <option value="{{category}}">{{category}}</option>
                    {% endfor %}
                </optgroup>
            </select>
        </div>

        <div class="form-group">
            <label for="item-price">Item Price <span class="required-field">*</span></label>
            <input type="number" min="0" class="form-control" id="item-price" name="item_price" placeholder="Item Price" required>
        </div>

        <div class="form-group">
            <label for="item-desc">Item Description <span class="required-field">*</span></label>
            <textarea class="form-control" id="item-desc" name="item_desc" rows="10"
                placeholder="Add a description for the item you are listing..." required></textarea>
        </div>

        <div class="form-group">
            <label for="drop_zone">Item Image <span class="required-field">*</span></label>
            <div id="drop_zone" class="text-center" ondrop="dropHandler(event);" ondragover="dragOverHandler(event);">
                <i class="far fa-images"></i>
                <p>Drag your item photos here</p>
                <p>&#151; or &#151;</p>
                <div style="height:0px;overflow:hidden">
                    <input type="file" id="fileInput" name="file" accept="image/*" onchange="fileUploaded();" />
                </div>
                <button type="button" onclick="chooseFile();">Select a photo from your computer</button>
                <p style="visibility: hidden;" id="imageUpload">
                    File Uploaded
                    </p>
                <!--&lt;!&ndash;<p>&ndash;&gt;-->
                <!--{% with messages = get_flashed_messages() %}-->
                <!--{% if messages %}-->
                <!--<ul class=flashes>-->
                <!--{% for message in messages %}-->
                <!--<li>{{ message }}</li>-->
                <!--{% endfor %}-->
                <!--</ul>-->
                <!--{% endif %}-->
                <!--{% endwith %}-->
                <!--&lt;!&ndash;</p>&ndash;&gt;-->
            </div>
        </div>

        <div class="tradable-check">
            <p>Would you like to trade items from your wish list for this item?</p>

            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input"  name="isTradable" value=1 > Yes
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input"  name="isTradable" value=0 checked> No
                </label>
            </div>
        </div>

        <div class="row">
            <div class="col-lg">
            </div>
            <div class="col-lg-3">
                <a href="/" class="btn btn-danger item-posting-btn">Cancel</a>
            </div>
            <div class="col-lg-3">
                <button class="btn btn-warning item-posting-btn" type="submit">
                    Submit
                </button>
            </div>
        </div>
    </form>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Custom JS -->
    <script type="text/javascript" src="{{ url_for('static',filename='index.js') }}"></script>

</body>

</html>
