<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://kit.fontawesome.com/6ab52acb52.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <!-- css for local use -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/public/css/stylesheet.css') }}">

</head>

<body>
  <!-- top navigation bar   -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Gater Barter</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="\about">About</a></li>
      </ul>

      <!--  search bar -->
      <ul class="nav navbar-nav" style="width:75%; padding-top: 7px; padding-left: 18%;">
        <form class="form-inline">
          <div class="form-group">
            <input class="form-control" name="search" placeholder="Type to Search" size="85">
            <a class="search-btn" href="#"> <i class="fas fa-search"></i></a>
          </div>
        </form>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="/register"><span class="glyphicon glyphicon-user"></span>Register</a></li>

        <!-- button for modal login form -->
        <a class="link" onclick="document.getElementById('id01').style.display='block'">Login</a>

        <!-- modal -->
        <div id='id01' class="modal">
        <span onclick="document.getElementById('id01').style/display='block'" class="close" title="Close Modal">&times;</span>

        <!-- modal content -->
        <form class="modal-content animate" action="/action_page.php">
          <div class="mcontainer">
            <p><center>Click outside the box to exit</p>
              <label for="email"><b>Username</b></label>
              <input type="text" placeholder="Enter Username or email" name="email" required>

              <label for="psw"><b>Password</b></label>
              <input type="password" placeholder="Enter Password" name="psw" required>

              <button type="submit">Login</button>
            <label> <input type="checkbox" checked="checked" name="remember">Remember me</label>
            <span class = "psw"><a href="#">Forgot Password</a></span>
        </div>
      </form>
      <!-- close modal when user clicks outside box -->
      <script>
      var modal = document.getElementById('id01');
      window.onclick=function(event){
        if (event.target == modal){
          modal.style.display = "none";
        }
      }
      </script>

      </div>
    </ul>
  </div>
</nav>

<div id="testtext">
  <h3><center>CSC 648-01<br><br>
     Team Four Star!<br></center></h3>
     <br><br><br>
</div>

<div class="container3" style="width: 120px; margin-left: 50px; margin-bottom:-34px">
  <div class="dropdown" >
    <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">filter
    <span class="caret"></span></button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Books</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Furniture</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Services</a></li>
    </ul>
  </div>
</div>
<div id= "testSearch" style="margin-left:171px">
  <form class="form-inline" method="POST">
    <div class="form-group">
      <input class="form-control" name="search" placeholder="Type to Search" size="85">
      <a class="search-btn" href="#"> <i class="fas fa-search"></i></a>
    </div>
  </form>
</div>

<!-- temp div to space header and footer -->
<div id="spacing">
</div>

<!--footer -->
 <div class="footer">
   <div class="container2">
     <div class="row">
       <div class="col-md-4">
         <ul>
           <h4><a href="#">Products</a></h4>
           <h4><a href="#">Services</a></h4>
           <h4><a href="#">Specials</a></h4>
         </ul>
       </div>

       <div class="col-md-4">
         <ul>
           <h4><a href="#">Contacts</a></h4>
           <h4><a href="#">returns</a></h4>
           <h4><a href="#">tracking</a></h4>
        </ul>
       </div>

       <div class="col-md-4">
         <ul>
           <h1>Contact US</h1>
           <p>Email Us At: <a href="mailto:not-real@gmail.com">not-real@gmail.com</a></p>
           <p>Call Us At: <a href="tel:444-444-4444">(444) 444-4444</a></p>
         </ul>
       </div>
   </div>
 </div>
</div>
</body>

</html>
