<!DOCTYPE html>
<html lang="en">
  <head>
    <title>About Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/public/css/stylesheet.css') }}">
  </head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Gater Barter</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li class ="active"><a href="/about">About</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Register</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Log in</a></li>
    </div>
  </nav>

  <h3><center> Software Engineering Class SFSU </h3>
  <h3><center> Fall 2019</h3>
  <h3><center>Section</h3>
  <h3><center>Team 4</h3>

  <section id="about" class="section-padding about-section">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="section title"><br>
            <div class="section_subtitle">About Us</div>
            <h2 class="section_main_title"<strong>click to see more info on <strong>Team Four Star</strong></h2>
          </div>

          <div class="member_container">
            <a href="about/abodi" class="btn btn-warning" role="button">Aditya Bodi</a>
            <p></p>
            <a href="dyan.html" class="btn btn-warning" role="button">Deming Yan</a>
            <p></p>
            <a href="akasar.html" class="btn btn-warning" role="button">Akshay Kasar</a>
            <p></p>
            <a href="pyu.html" class="btn btn-warning" role="button">Phillip Yu</a>
            <p></p>
            <a href="ang.html" class="btn btn-warning" role="button">Alan Ng</a>
            <p></p>
            <a href="akohanim.html" class="btn btn-warning" role="button">Alex Kohanim</a>
            <p></p>
            <a href="tbelsare.html" class="btn btn-warning" role="button">Tejasvi Belsare</a>
        </div>
      </div>
              <!- in I want to ad an image to the right. Causing problems looking correctly right now  -/>
      <div class="col-sm-4 col-sm-offset-2">
        <div class="about-box">
        </div>
      </div>

    </div>
  </section>

   <div class="footer">
     <div class="container">
     </div>
   </div>
</body>
</html>
