.navbar-default {
    background-color: #330033;
}

.navbar
{
  border:0px;
}

.active a{
  background-color:  #ffcc33 !important;
}

body
{
  background-color: #330033;
}

.section_subtitle
{
  margin-bottom: 7px;
  padding-left: 7px;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  color: #ffcc33;
  border-left: 3px solid #ffcc33;
  font-size: 700;
  font-family: tahoma;
}

a:hover {
  opacity: 0.5;
}

.avatar {
  border-radius: 50%;
  border: 7px solid;
  width: 170px;
  height: 170px;
  margin: 14px auto 14px;
  color: #ffcc33;
}

.social-icon {
  color: #ffcc33;
  padding: 2px;
}

#member-desc {
  padding: 4rem;
  color: #ffcc33;
  text-align: center;
}

.footer
{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: ;
}

.footer p
{
  color: white;
}
