body {
  background-color: #330033;
  color: #ffcc33;
  text-align: center;
}

a:hover {
  opacity: 0.5; 
}

.avatar {
  border-radius: 50%;
  border: 7px solid;
  width: 170px;
  height: 170px;
  margin: 14px auto 14px;
}

.social-icon {
  color: #ffcc33;
  padding: 2px;
}

#member-desc {
  padding: 4rem;
}
