<html>

<head>
    <title>Page Not Found</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/public/css/stylesheet.css') }}">
    <script language="JavaScript" type="text/javascript">

        var seconds = 3;
        // countdown timer. took 3 because page takes approx 1 sec to load 

        var url = "{{url_for_redirect}}";
        // variable for index.html url 

        function redirect() {
            if (seconds <= 0) {

                // redirect to new url after counter down. 
                window.location = url;
            } else {
                seconds--;
                document.getElementById("pageInfo").innerHTML = "Redirecting to Home Page after "
                    + seconds + " seconds."
                setTimeout("redirect()", 1000)
            }
        } 
    </script>

    <style>
        body {
            background: url("{{ url_for('static',filename='images/404.jpg') }}");
            background-repeat: no-repeat;
            background-position: center; 
        }
    </style>

</head>

<body onload="redirect()">

   <center>
    <h1> 404 Page Not found </h1>
    <p id="pageInfo"></p> 
   </center>


</html>