

<h1> Item ID: {{product.i_id}} </h1>  <br />
<h1> Item Title:  {{product.i_title}} </h1>  <br />
<h1> Item Desc: {{product.i_desc}} </h1>  <br />
<h1> Item Price: {{product.i_price}} </h1>  <br />
<h1> Item IS_TRADABLE: {{product.i_is_tradable}} </h1>  <br />
<h1> Item USER_ID: {{product.i_u_id}} </h1>  <br />
<h1> Item Created_Time_Stamp: {{product.i_create_ts}} </h1>  <br />
<h1> Item Updated_Time_Stamp: {{product.i_update_ts}} </h1>  <br />
<h1> Item Sold_Time_Stamp: {{product.i_sold_ts}} </h1>  <br />
<h1> Item Status: {{product.i_status}} </h1>  <br />
<h1> Item Category ID: {{product.i_c_id}} </h1>  <br />
<h1> Item Image URL: {{product.ii_url}} </h1>  <br />
<h1> Item Image Status: {{product.ii_status}} </h1>  <br />
<h1> Item Category Name: {{product.c_name}} </h1>  <br />
<h1> Item Category ID: {{product.c_id}} </h1>  <br />
<h1> Item Category Status: {{product.c_status}} </h1>  <br />