*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  height:100%;
}

#about{
  min-height: 100%;
}

/* shape and placement of about buttons */
.btn-primary{
  width: 20%;
}

.member_container{
  text-align: center;
  padding-top: 15px;
}



/* navbar  stuff */
.navbar-default {
    background-color: #330033;
}
.navbar
{
  border:0px;
}

/* temp color to make navbar look brighter. Open to change */
.navbar-default .navbar-brand , .navbar-default .navbar-brand:hover, .navbar-default .navbar-nav > li > a , .navbar-default .navbar-nav > li > a:hover
{
  color: yellow;
}

.a{
  color: yellow;
}

.container-fluid
{
  color: black;
}
.active a{
  background-color:  #ffcc33 !important;
}

/* search bar on navbar */
.form-control{
  width: 40%;
  position: center;
}

.search-box.input[type=text]
{
  size:35;
}

/* login stuff */
input[type=text], input[type=password]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
}

.mcontainer{
  padding: 16px;
  color: black;
}

a.link:hover{
  cursor: pointer;
}

a.link{
  padding-right: 16px;
  line-height: 3.5em;
  color:yellow;
}

mcontainer.input[type=text], mcontainer.input[type=password]
{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
}

input[type=text]:focus, input[type=password]:focus
{
  background-color: #ddd;
  outline:none;
}

/*style for all buttons */
button{
  background-color: #4CAF50;
  color:white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

span.psw{
  float: right;
  padding-top: 16px;
}

/* modal background */
.modal{
  display:none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  padding-top:60px;
}

/* modal box */
.modal-content{
  background-color: #fefefe;
  margin: 5px auto;
  border: 1px solid #888;
  width: 20%;
  height: 45%;
}

/* close button */
.close{
  position: absolute;
  right: 25px;
  top:0;
  color: #000;
  font-size: 35px;
  font-weight:bold;
}


/* zoom animation */
.animate{
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}
@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}
@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

#container{
  overflow: auto;
  padding-bottom: 100px;
  height:2000px;
}

body
{
  background-color: #f4f4f4;
  height: 100%;
}

.section_subtitle
{
  margin-bottom: 7px;
  padding-left: 7px;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  color: #330033;
  border-left: 3px solid #330033;
  font-size: 700;
  font-family: tahoma;
}

a:hover {
  opacity: 0.5;
}

.avatar {
  border-radius: 50%;
  border: 7px solid;
  width: 170px;
  height: 170px;
  margin: 14px auto 14px;
  color: #ffcc33;
}

.social-icon {
  color: #ffcc33;
  padding: 2px;
}

#member-desc {
  padding: 4rem;
  color: #ffcc33;
  text-align: center;
  min-height: 100%;

}

/* footer */
.footer
{
  background-color: #330033;
  position:  relative;
  bottom: 0;
  left: 0;
  width: 100%;
}
.row
{
  padding-bottom: 0px;
}

ul
{
  list-style: none;
  margin-top: 20px;
  margin-left: 5px;
  color: yellow;
}


/* registration page */
.register{
  padding-left: 16px;
  padding-right: 16px;
  background: white;
  max-width: 20%;
  margin-left: 40%;
}

/* temp padding for registration page to keep footer on bottom of the page in full screen */
.container-signin{
  height:230px;
}

/* temp div to space header vs footer in home page. Remove when home page is populated */
#spacing{
  height:750px;
}
