/* Sitewide Section */

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

main {
    min-height: 100%;
}

a:hover {
    color: #c89b00;
}


/* Navigation Bar Section */

.navbar {
    background-color: #330033;
    color: #FFCC33;
}

.navbar-brand {
    color: #FFCC33;
    font-family: 'Pacifico', cursive;
    font-size: 2.17rem;
    padding-left: 4px;
}

.navbar-subtext {
    font-family: 'Pacifico', cursive;
    font-size: 14px;
}

.navbar-link {
    color: #FFCC33;
    font-size: 1.25rem;
}

.navbar-btn {
    color: #FFCC33;
}

.profile-dropdown {
    background-color: #330033;
    margin: 0.3rem 0;
    color: #FFCC33;
    border: none;
}

.fa-user-circle {
    font-size: 2rem;
}

.dropdown-menu li a:hover {
    background-color: #FFCC33;
}

.current-user {
    font-size: 20px;
    margin: 0.5rem 0.25rem;
}

.dropdown-divider {
    border-color: #FFCC33;
}

/* Search Bar Section */

.search-container {
    background-color: #330033;
}

input {
    padding: 0.5rem 1rem;
    margin: 1rem 0rem;
    background-color: #C4C4C4;
    border: solid;
    border-width: 1px;
    width: 100%;
}

.category-btn {
    background-color: #FFCC33;
    color: #330033;
    border-color: #FFCC33;
    padding: 0.5rem 1rem;
    margin: 1rem 0;
    width: 100%;
}

.search-btn {
    background-color: #FFCC33;
    color: #330033;
    border-color: #FFCC33;
    padding: 0.5rem 0rem;
    margin: 1rem 0.20rem 1rem 0;
    width: 100%;
}


/* Main Content Section */

.edu-purpose-label {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding: 0.5rem;
}

.feedback {
    font-style: italic;	    font-style: italic;
    padding: 0.5rem 1.5rem;	    float: right;
    text-align: right;	    font-size: 1.25rem;
    margin: 0;	}

.sort-dropdown {
    float: left;
}

.sort-dropdown div button {
    background-color: #330033;
    color: #FFCC33;
    padding: 0.5rem 4.5rem;
}

.dropdown-fb-col {
    display: block;
    padding-bottom: 4rem;
    margin: 0 1rem;
    /* margin: 0 1rem; */
}

/* Listing Section */

.product-listing {
    margin-bottom: 1rem;
}

.price-label {
    color: green;
    float: right;
    clear: right;
}

.item-label {
    font-size: 18px;
}

.user-label {
    padding-top: 0.5rem;
}

.card-text {
    padding: 0.5rem 0;
}

.card-img-top {
    height: 15.625rem;
}

.show-more-btn {
    margin: 0 auto 1rem auto;
    display: block;
    text-align: center;
    font-weight: bold;
    padding: 0.5rem 1rem;
    color: #FFCC33;
    background-color: #330033;
}

/* Footer Section */

footer {
    padding: 1rem 1rem;
    background-color: #330033;
    color: #FFCC33;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: -1;
}

/* Product Details Section */

.carousel-item img {
    width: 100%;
    height: 600px;
}

.product-container {
    margin: 2rem;
}

.product-col {
    padding: 1rem;
}

.product-col p {
    overflow-y: scroll;
    height: 530px;
}

.tradable-label {
    text-align: center;
    background-color: #C4C4C4;
    width: 80px;
    padding: 0.25rem 0;
    margin-bottom: 0.5rem;
    float: right;
    clear: right;
}

.wishlist-toggle {
    width: 100%;
}

.wishlist-menu {
    width: 100%;
    height: 450px;
    overflow-y: scroll;
}

.wishlist-item {
    width: auto;
    padding: 0.5rem;
}

.wishlist-item:hover {
    background-color: #FFCC33;
}

.wishlist-item img {
    width: 25%;
    height: auto;
    border: solid;
    border-width: 1px;
}

.wishlist-item p {
    display: inline;
    padding: 0.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Contact Seller Section */

.contact-seller {
    text-align: center;
    margin: 0 2rem;
}

/* Item Posting Section */

#item-posting-page {
    margin: 0 auto;
}

.item-category-toggle {
    width: 100%;
}

.item-category-menu {
    width: 100%;
    overflow-y: scroll;
}

.category-item {
    width: auto;
    padding: 0.5rem;
}

.category-item:hover {
    background-color: #FFCC33;
}

.item-desc-field {
    padding-top: 1rem;
}

#drop_zone {
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 0.25rem;
    height: 300px;
    position: relative;
}

.fa-images {
    font-size: 5rem;
    margin: 4rem 0 0.5rem 0;
}

#drop_zone p {
    margin: 0;
    text-align: center;
}

#drop_zone button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid black;
    border-radius: 0.25rem;
    padding: 0.25rem 2rem;
    background-color: #C4C4C4;
}

.tradable-check {
    text-align: center;
}

.tradable-check p {
    margin: 1rem 0 0.5rem 0;
}

.tradable-check .form-check {
    display: inline;
    margin: 0.5rem;
}

.item-posting-btn {
    width: 100%;
    margin: 0.5rem 0;
}

.radio-spacing {
    padding-right: 0.3rem;
}

/* Login Section */

#login-page {
    margin: 0 auto;
}

#login-page .btn {
    width: 60%;
    margin: 1rem 0;
}

input[type=checkbox] {
    margin-top: 0.25rem;
}

.rmr-me-check {
    text-align: center;
}

.login-btn {
    text-align: center;
}

.forgot-pw-link {
    text-align: center;
    margin: 0.5rem 0;
}

.register-link {
    text-align: center;
    margin: 0.5rem 0
}

/* Register Section */

#register-page {
    margin: 0 auto;
}

#register-page .btn {
    width: 60%;
}

.register-email-field input[type=email] {
    margin-top: 0;
}

.tos-check {
    text-align: center;
}

.g-recaptcha {
    display: inline-block;
    margin-top: 1rem;
}

.register-btn {
    text-align: center;
}

.already-have-account-link {
    text-align: center;
    margin: 1.5rem 0;
}

/* Admin Dashboard Section */

.nav-tabs .nav-item .nav-link {
    color: black;
}

.nav-tabs .nav-item .active {
    background: #330033;
    color: #FFCC33;
}

.nav-tabs {
    margin: 0 1rem;
}

.tab-content {
    margin-top: 1rem;
}

.fa-envelope {
    color: black;
}

.fa-ban {
    color: red;
}

.btn-white-text {
    color: white !important;
    margin: 0.5rem 0;
}

.user-list {
    margin: 1rem;
}

.user-list-header {
    margin: 2rem;
}

/* User Dashboard Section */

.seller-listing {
    border-radius: 25px;
    border: 1px solid #330033;
    padding: 20px;
    margin: 0.5rem 0;
}

.item-img-col {
    width: 100%;
    margin: 0.5rem 0;
}

.item-desc-col {
    margin: 1rem 0;
    vertical-align: text-bottom;
    text-align: left;
}

.item-cond-col {
    margin: 1rem 0;
    padding: 1rem 0;
    text-align: center;
}

.item-cond-col h5 {
    text-align: left;
}

.item-cond-col h5 span {
    float: right;
}

.item-cond-col a .fa-envelope {
    color: white;
}

.sold-checkbox h5 {
    text-align: left;
    vertical-align: top;
    padding: 6px 2px 0 2px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #28a745;
}

input:focus+.slider {
    box-shadow: 0 0 1px #28a745;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Seller Inbox Section */

.seller-inbox-product {
    margin: 1rem 2rem;
}

.seller-inbox-product img {
    max-width: 250px;
    max-height: 200px;
}

.seller-inbox {
    margin: 1rem 2rem;
    text-align: center;
}

.seller-inbox-msg {
    margin: 1rem 2rem;
    border-radius: 25px;
    background-color: #FFCC33;
}

.seller-inbox-msg p {
    padding: 20px 0;
}

.seller-inbox-buyer {
    padding: 30px 0;
    text-align: center;
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* about page stuff*/
.abouttext {
    font-size: 24px;
    color: #330033;
}

.section_subtitle {
    margin-bottom: 7px;
    padding-left: 7px;
    font-size: 16px;
    line-height: 1;
    text-transform: uppercase;
    color: #330033;
    border-left: 3px solid #ffcc33;
    font-size: 700;
    font-family: tahoma;
}

.member_container {
    text-align: center;
    padding-top: 15px;
}

.btn-primary {
    width: 20%;
}

.about {
    color: #330033;
}

/* profile page stuff */
.avatar {
    border-radius: 50%;
    border: 7px solid;
    width: 170px;
    height: 170px;
    margin: 14px auto 14px;
    color: #ffcc33;
}

#social-icon {
    color: #ffcc33;
    padding: 2px;
}

.member-desc {
    padding: 4rem;
    color: black;
    text-align: center;
}

/* Extra small devices (< 576px; phone) */
@media screen and (max-width: 575px) {}

/* Small devices (≥ 576px; phone) */
@media screen and (max-width: 767px) {
    .item-desc-col {
        text-align: center;
    }
}

/* Medium devices (≥ 768px; tablet) */
@media (max-width: 991px) {}

/* Large devices (≥ 992px; desktop) */
@media (max-width: 1199px) {}

/* Extra large devices (≥ 1200px; wide desktop) */
@media (min-width: 1200px) {}